<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="signupstyle.css">
  <title>Checkmate</title>
  <link rel="icon" href="/image/Screenshot_1.jpg" type="image/gif">
  {{!-- <style>
  .center2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }
  .center2 h1 {
    text-align: center;
    padding: 20px 0;
  }
  .center2 form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  .button3 {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: white;
    background-color: #0a611b;
    margin-bottom: 25px;
  }
  .button3:hover {
    background-color: rgb(0, 0, 0);
  }
  .had2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: inherit;
    font-size: 20px;
    margin: 10px;
  }
  </style> --}}
</head>

<body id="body">
  <header>
    <nav>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="signup">Signup</a></li>
      </ul>
    </nav>
  </header>

<div class="center">
  <h2 class="had1">Write the OTP to continue</h2>
      <form action="/auth/verify" method="POST">
      <div class="txt_field">
        <input type="text" placeholder="OTP" id="OTP"  name="OTP" required>
      </div>
      <button class="button2" type="submit">Authenticate</button>
    </form>
</div>
      {{#if message }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
    </div>
  </div>

</body>
{{!-- <script src="/javascript/checkotp.js"></script> --}}

</html>
