<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="signupstyle.css">
  <title>Checkmate</title>
  <link rel="icon" href="/image/Screenshot_1.jpg" type="image/gif">
</head>

<body id="body">
  <header>
    <nav>
      <ul class="nav">
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>

<div class="center">
  <h2 class="had1">Write the OTP to continue</h2>
      <form action="/auth/verify" method="POST">
      <div class="txt_field">
        <input type="number" placeholder="OTP" id="OTP"  name="OTP" required>
      </div>
      <button class="button2" type="submit">Authenticate</button>
    </form>
</div>
      {{#if message }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
    </div>
  </div>

</body>
{{!-- <script src="/javascript/checkotp.js"></script> --}}

</html>
